body {
    margin: 0;
}

.conteneur {
    width: 600px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}

.conteneur-vertical {
    height: 400px;
}

.ZoneImages {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ZoneImages div {
    width: 600px;
    height: 400px;
    flex-shrink: 0;
}

.ZoneImages div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.zoneBouton {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

#bouton1 {
    width: 100px;
    height: 50px;
}